html {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

input {
  /* position: sticky;
  left: 120px; */
}

#text{
  margin-top: 2em;
  color:white;
}

#logging{
  margin-top: 3em;
  padding-top: 3em;
}

body {
  background-color:rgb(0,0,0);
  /* max-width: 800px; */
}